<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false">
     
    <property name="LOG_HOME" value="/data/ciis/logs" />
    <property name="MODULENAME" value="app"/>
    
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
	    <encoder> 
	    	<pattern>%d{yyyyMMdd HH:mm:ss SSS}[%thread][%level]-%msg%n</pattern> 
	    </encoder> 
    </appender>
    
    
    <!-- debug 开发使用 -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${MODULENAME}/${MODULENAME}_debug.log</File>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter"> 
	        <evaluator> 
	        	<expression>(level>=DEBUG)</expression> 
	        </evaluator> 
	        <OnMatch>ACCEPT</OnMatch>
        	<OnMismatch>DENY</OnMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<fileNamePattern>${LOG_HOME}/${MODULENAME}/${MODULENAME}_%d{yyyyMMdd}_debug_%i.log</fileNamePattern>
        	<maxHistory>30</maxHistory>
        	
        	<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		    	<MaxFileSize>512MB</MaxFileSize>
		    </TimeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>
        <layout>
            <Pattern>%d{yyyyMMdd HH:mm:ss SSS}[%thread][%level]-%msg%n</Pattern>
        </layout>
    </appender>
   
    <!-- =========================================公用配置Start=============================== -->
     <appender name="MODULENAME-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
       	 <File>${LOG_HOME}/${MODULENAME}/${MODULENAME}_info.log</File>
         <filter class="ch.qos.logback.core.filter.EvaluatorFilter"> 
	        <evaluator> 
	        	<expression>(level>=INFO)</expression> 
	        </evaluator> 
	        <OnMatch>ACCEPT</OnMatch>
        	<OnMismatch>DENY</OnMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<fileNamePattern>${LOG_HOME}/${MODULENAME}/${MODULENAME}_%d{yyyyMMdd}_info_%i.log</fileNamePattern>
        	<maxHistory>30</maxHistory>
        	
        	<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		    	<MaxFileSize>512MB</MaxFileSize>
		    </TimeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>
        <layout>
            <Pattern>%d{yyyyMMdd HH:mm:ss SSS}[%thread][%level]-%msg%n</Pattern>
        </layout>
    </appender>
    
    
    <appender name="MODULENAME-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${MODULENAME}/${MODULENAME}_error.log</File>
         <filter class="ch.qos.logback.core.filter.EvaluatorFilter"> 
	        <evaluator> 
	        	<expression>(level==ERROR)</expression> 
	        </evaluator> 
	        <OnMatch>ACCEPT</OnMatch>
        	<OnMismatch>DENY</OnMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<fileNamePattern>${LOG_HOME}/${MODULENAME}/${MODULENAME}_%d{yyyyMMdd}_error.log</fileNamePattern>
        	<maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout>
            <Pattern>%d{yyyyMMdd HH:mm:ss SSS} [%thread][%level]-%msg%n</Pattern>
        </layout>
    </appender>
    
    
    <!-- =========================================公用配置End=============================== -->
    
    <root level="DEBUG">
	   	<appender-ref ref="MODULENAME-ERROR"/>
	     <appender-ref ref="MODULENAME-INFO"/>
	     <appender-ref ref="DEBUG"/>
	     <appender-ref ref="STDOUT"/>
    </root>
</configuration>

